.jumbotron h3 {
	height: 80px;
	font-family: 'Corben', Georgia, Times, serif;
}
p, div, h4 {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
	.buttons {
	line-height: 40px;
}
.article-list a {
	text-align: left;
	margin: 30px;
}
.article-list h4, .article-list span {
	font-size: 14px;
}
footer {
	padding-top: 20px;
	text-align: center;
}
footer p i {
	font-size: 12px;
}
a:hover {
	text-decoration: none !important;
}