html, body {
height: 100%;
}
footer {
	text-align: center;
}
footer p i {
	font-size: 12px;
}
.top-buffer { margin-top:3px; }
.top-buffer button {
  width: 35px;
  padding: 0;
}
.top-buffer div { margin-right: 3px; }
