<html ng-app="wikipediaViewer">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
	<link rel="stylesheet" href="http://remotty.github.io/angular-ladda/bower_components/ladda/dist/ladda-themeless.min.css">
	<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
	<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="main.css">
</head>
<body id="myPage" data-spy="scroll" data-offset="60">

	<div class="jumbotron text-center" ng-controller="WikipediaViewerController as wikipediaViewer">
		<h3>Wikipedia Viewer</h3>
		<div class="form-group">
			<div class="input-group col-md-offset-5 col-sm-2">
				<input type="text" class="form-control" placeholder="Article title" ng-model="articleFilter">
				<span class="input-group-btn">
					<button class="btn btn-primary" ng-click="wikipediaViewer.search()" data-style="expand-left" ladda="loading"><i class="fa fa-search"></i> Go!</button>
				</span>
			</div>  

			<div class="buttons">
				<a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank"><i class="fa fa-wikipedia-w"></i> Show me something new</a>
			</div>
		</div>

		<div class="article-list" ng-hide="articles == null">
			<a ng-href="http://en.wikipedia.org/?curid={{article.pageid}}" target="_blank" class="list-group-item" ng-repeat="article in articles">
				<h4 class="list-group-item-heading">{{article.title}}</h4>
				<span>{{article.extract}}</span>
			</a>
		</div>

		<footer>
			<p>by nickrfer</p>
			<p>
				<a href="https://github.com/nickrfer" target='_blank'>
					<i class="fa fa-github fa-fw"></i>
				</a>
				<a href="https://www.linkedin.com/in/nickrfer" target='_blank'>
					<i class="fa fa-linkedin"></i>
				</a>
				<a href="http://www.freecodecamp.com/nickrfer" target='_blank'>
					(<i class="fa fa-fire fa-fw"></i>)
				</a>
				<a href="http://codepen.io/nickrfer" target='_blank'>
					<i class="fa fa-codepen"></i>
				</a>
			</p>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="http://remotty.github.io/angular-ladda/bower_components/ladda/dist/spin.min.js"></script>
		<script src="http://remotty.github.io/angular-ladda/bower_components/ladda/dist/ladda.min.js"></script>
		<script src="http://remotty.github.io/angular-ladda/bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
		<script src="main.js"></script>
	</body>
	</html>